In [1]:
from using_db import *

In [2]:
# Показать содержимое базы:
# dfs = show_tables_df()
# print_all_dataframes(dfs)

# Очистить базу:
# clean_tables()

In [7]:
dfs = show_tables_df()
dfs

{'user_choices': Empty DataFrame
 Columns: [user_id, choice]
 Index: [],
 'users': Empty DataFrame
 Columns: [user_id, choice, agreement_accepted, trial_used]
 Index: [],
 'outline_keys': Empty DataFrame
 Columns: [id, user_id, port, password, access_url, created_at, expires_at, max_devices, valid, notified]
 Index: []}

In [4]:
dfs['outline_keys']

,id,user_id,port,password,access_url,created_at,expires_at,max_devices,valid,notified
0,1,561253712,30000,bhK3Zmjwfsaa9YVyZ8pzsE,ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpiaEszWm1qd...,2025-05-18T04:06:37.842304,2025-05-21T04:06:37.842304,3,0,1
1,2,6505772108,30001,ZTdeAPrgq1mg35CRv3T5R9,ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpaVGRlQVByZ...,2025-05-18T04:26:37.793339,2025-05-21T04:26:37.793339,3,0,1
2,3,369190390,30002,LvS85Lh4o9OacBoFDimRk8,ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpMdlM4NUxoN...,2025-05-20T19:27:37.753973,2025-05-23T19:27:37.753973,3,0,1
3,4,561253712,30003,mOx7ck5oVcIjBEytMUu0UP,ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTptT3g3Y2s1b...,2025-05-27T22:22:22.842679,2025-08-25T22:22:22.842679,3,1,0
4,5,561253712,30004,wDdaXoyh5tgRDXNArezXd6,ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTp3RGRhWG95a...,2025-05-27T22:26:20.764975,2025-11-23T22:26:20.764975,3,1,0

In [4]:
dfs['outline_keys']['access_url'][0]

'ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTo4cmtWcGx6UHVrQUxhVWVIc3U3VGdk@193.187.174.24:30005/?outline=1'

In [8]:
from outline.outline_script import create_outline_key, generate_qr_image
qr = generate_qr_image(dfs['outline_keys']['access_url'][0])

In [9]:
qr

In [10]:
clean_tables()

Таблица user_choices очищена.
Таблица users очищена.
Таблица outline_keys очищена.
✅ Очистка завершена.

In [5]:
from db import *

In [6]:
user_has_any_keys(561253712)

False